/*navbar css*/

#headshot {
	margin-top: -10px;
}

#slogan {
	text-align: center;
	display: inline;
    margin-left: 22%;
    color: white;
}

#navbar {
    background-color: #0350A6;
}

.container-fluid {
    background-color: #0350A6;
}

return-home {
    float: right;
    margin-top: 1%;
}

/*footer css*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #0350A6;
    display: flex;
    justify-content: center;
}

#sm-links {
    display: flex;
    align-items: center;
  }
  
 #fb-logo {
     padding-right: 10px;
 }
 
 #youtube-logo {
     padding-left: 10px;
 }
 
 #login-btn {
     padding-left: 10px;
 }
  
  /*homeTmpl css*/
  
 #home-text {
     text-align: center;
 }
 
 #email-input {
     margin: 1%;
 }
 
 #address-input {
    margin: 1%; 
 }
 
 #submit-button{
    margin-left: 47%;
    margin-top: 1%;
 }
 
 /*login css*/
 
.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.strike {
    text-decoration: line-through;
}

 

