<navbar></navbar>

<div class="container">
<div id="home-text">
	<h1>Have a big home repair or Home project let me help you save money!</h1>

	<p>Thanks to a partnership with Lowes I can help you save 10% off your repair or project.</p>
	<p>All you need is to complete the form below to receive your coupon.</p>

</div>

<form name="cpnInput" ng-submit="getSubmit(user)">
<div class="form-group" id="name-input">
  <span class="input-group-addon" id="basic-addon1">Full Name</span>
  <input type="text" class="form-control" placeholder="John Doe" aria-describedby="basic-addon1" ng-model="user.name" required>
</div>

<div class="form-group" id="email-input">
  <span class="input-group-addon" id="basic-addon2">Email</span>
  <input type="email" class="form-control" placeholder="@example.com" aria-describedby="basic-addon2" ng-model="user.email" required>
</div>

<div class="form-group" id="address-input">
  <span class="input-group-addon" id="basic-addon2">Address</span>
  <input type="text" class="form-control" placeholder="1776 Indepedence Way, Freedom UT 84789" aria-describedby="basic-addon2" ng-model="user.address" required>
</div>

<div class="form-group" id="phone-number-input">
  <span class="input-group-addon" id="basic-addon2">Phone Number</span>
  <input type="text" class="form-control" placeholder="555-555-5555" aria-describedby="basic-addon2" ng-model="user.num" required>
</div>

<button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="submit-button" ng-click="getSubmit(user)">
  Submit
</button>
</form>
</div>




<custom-footer></custom-footer>