<navbar></navbar>

<div id="adminBackground">

<h1 id="admin-h1">Requested List</h1>
<hr id="admin-border-line">

<!--<form ng-submit="getList()">
<button class="btn waves-effect waves-light" type="submit" name="action" class="z-depth-5" id="search-button">Get List</button>
</form>	-->

<ul>
	<li ng-class="{strike: user.checked}" ng-repeat="user in userList">{{user.date | date:'medium'}}<br> 
		{{user.name}}<br>
		{{user.address}}<br>
	  	{{user.email}}<br>
	  	{{user.num}}<br>
		<input type="checkbox" ng-model="user.checked" ng-change="userList.$save(user)">
		<button type="button" class="btn btn-primary btn-xs" ng-click="delete(user)" id="delete-btn">Delete</button>
		<hr>
	</li>
</ul>							


</div>




<custom-footer></custom-footer>


<!--"entity.isChecked"-->
<!--selectEntity(user, $index)-->